btbody{
    margin: 0;
    padding: 0;
}
.bg_tool{
    background: #081624;
    padding: 20px;
}
.nav_left{
    margin-left: 15%;
    font-weight: 700;
}
.li_left{
    margin-left: 25px;
}
.carou_top{
    margin-top: 80px;
}
img {
    max-width: 100%;
}
.book_section{
    padding: 150px 0;
    background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
}
.book_item{
    color: white;
    margin-top: 20px;
}
.book_item .read_more{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    color: #b01ba5;
}
.categories-widget{
        background: #34164b;
    padding: 55px 0 25px;
}
.search_widget input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #72628b;
    background: none;
    padding-right: 60px;
    color: #fff;
}
.search_widget button {
    position: absolute;
    right: 5px;
    color: #b01ba5;
    font-weight: 700;
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
    background: none;
    border: none;
    text-transform: uppercase;
    padding-top: 10px;
}
.widget_item .widget_title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    padding-left: 38px;
    margin-bottom: 48px;
}
.categories_widget ul {
    list-style: none;
    padding: 0 38px;
}
.categories_widget {
    background: #34164b;
    padding: 55px 0 25px;
    color: white;
}
.widget_item{
    margin-bottom: 50px;
}
.widget_item ul li a{
    color: #68647d;
    font-weight: 700;
}
.widget_item ul li a:hover{
    color: #af50a5;
}
.content_center{
    margin-top: 50px;
    text-align: center;
}
.content_center a {
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid transparent;
    color: #fff;
    text-decoration: none;
}
.content_center a.active {
    width: 44px;
    margin: 0 10px;
    color: #b01ba5;
    border: 2px solid #b01ba5;
}
.font_h3{
    color: white;
    font-weight: 600;
}
.footer_section{
    background: linear-gradient(to right, #330d38 0%, #190d36 100%);
    text-align: center;
}
.footer_set {
    padding: 30px 20px 50px;
}
.footer_set a:hover {
    border-radius: 50%;
    background: #b5447d;
}
.footer_set a {
    padding: 10px 10px;
    color: white;
}
.copyright a {
    color: gray;
}
.copyright {
    color: gray;
    font-weight: 600;
    opacity: 0.5;
}
a.btn_borrow:hover {
    background: white;
    color: #b01ba5;
}
a.text_book {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
a.btn_borrow {
    border: none;
    background: #ab4c9e;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
a.footer_logo{
    text-decoration: none;
    color: white;
}
/* Add Delete Edit book */

.list_book{
    padding-top: 70px;
}
.text_table{
    color: white;
    background: linear-gradient(to right, #330d38 0%, #190d36 100%);
    text-align: center;
}
.page_info{
    color: white;
}
.image_list{
    width: 120px;
}
.book_detail {
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    color: white;

}
.book_detail:hover{
    color: #b01ba5;
}
/* button edit delete */
.btn_edit{
    background: #6f2b95;
    border: none;
    padding: 2px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    width: 60px;
}
a.btn_edit  {
    color: white;
    text-decoration: none;
}
.btn_delete{
    background: red;
    border: none;
    padding: 2px;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    font-weight: 700;
    width: 60px;
}
th.width_t{
    width: 160px;
}
.btn_new{
    font-weight: 700;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    color: white;
    background: #6f2b95;
    margin: 20px;
}
.btn_new:hover{
    background: #b01ba5
}
a.btn_new {
    color: white;
    text-decoration: none;
}
.edit_book{
    background: white;
    padding: 22px;
    border-radius: 33px;
}
.edit_btn{
    padding:inherit;
    color: white;
    text-decoration: none;
}
.btn_book_cancel{
    background: red;
    border: none;
    padding: 6px 17px;
    font-size: 16px;
    color: white;
    margin-left: 20%;
    font-weight: 700;
    width: 90px;
    border-radius: 3px;
}
a.btn_book_cancel{
    color: white;
    text-decoration: none;
}
.btn_book_edit{
    background: #6f2b95;
    border: none;
    padding: 6px 17px;
    font-size: 16px;
    color: white;
    margin-left: 40%;
    font-weight: 700;
    width: 90px;
    border-radius: 3px;
}
.btn_book_add{
    background: #6f2b95;
    border: none;
    padding: 6px 17px;
    font-size: 16px;
    color: white;
    margin-left: 40%;
    font-weight: 700;
    width: 90px;
    border-radius: 3px;
}
.edit_user{
    float: left;
}
.delete_user{
    float: right;
}
.btn_new a {
    color: white;
    text-decoration: none;
}
/* detail book */
.book_detail_page{
    background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
    color: #68647d;
    padding-top: 80px;
}
.gs_title{
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
}
.gs_meta{
    color: white;
    font-weight: 600;
}
.book_content{
    padding-top: 50px;
}
.col-9.st_star {
    padding-top: 7px;
}
.cate{
    margin-top: 30px;
}
.category_title{
    font-weight: 700;
    color: white;
}
.read_more_category{
    float: right;
}
a.read_more_category:hover {
    color: #ff1dbe;
    text-decoration: none;
}
a.read_more_category {
    float: right;
    color: #aa4fa5;
    margin-top: 15px;
    margin-right: 30px;
}
.btn_more {
    font-weight: 700;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    color: white;
    background: #6f2b95;
    margin: 20px;
    float: right;
}
.btn_more:hover{
    color: #ff1dbe ;
}

/* login */
.login_section {
    padding: 150px 0 164px 0;
    background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
}
div.login_section div.row {
    margin-left: 0;
    margin-right: 0;
}
.btn_login {
    font-weight: 700;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    color: white;
    background: #6f2b95;
    margin: 20px;
}
.register_section {
    padding: 102px 0 144px 0;
    background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
}
div.register_section div.row {
    margin-left: 0;
    margin-right: 0;
}
.btn_register {
    font-weight: 700;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    color: white;
    background: #6f2b95;
    margin: 20px;
    float: right;
}
/* author */
.group_section{
    padding: 150px 0;
    background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
}
th.opt_auth{
    width: 250px;
}
form.set_form {
    width: 77px;
    float: right;
    margin-right: 37px;
}
/* Borrow  */
.borrow_lb{
    color: white;
}
.page_info_b{
    padding-bottom: 30px;
}
button.btn_borrow_b {
    color: white;
    background: #6f2b95;
    border: none;
    padding: 5px 16px;
    float: right;
    margin-top: 25px;
    margin-right: 75px;
}
.btn_borrow_b:hover{
    background: #b01ba5;
}
button.btn_accept {
    background: #714195;
    border: none;
    padding: 3px 5px;
    width: 60px;
}
.btn_accept a{
    color: white;
    text-decoration: none;
}
button.btn_reject {
    background: #f34423;
    border: none;
    padding: 3px 5px;
    width: 60px;
}
.btn_reject a{
    color: white;
    text-decoration: none;
}
button.btn_pay{
    background: #3c8c1f;
    border: none;
    padding: 3px 5px;
    width: 60px;
}
.btn_pay a{
    color: white;
    text-decoration: none;
}
th.witdth_lb {
    width: 240px;
}
/* button like and dislike */
a.btn_like {
    background: #ab4d9e;
    border: solid 1px #ff08dd;
    border-radius: 8px;
    color: white;
    padding: 5px 10px;
}
a.btn_dislike {
    background: #ab4d9e;
    border: solid 1px #ff08dd;
    border-radius: 8px;
    color: white;
    padding: 5px 10px;
}
.col-3 .search-publisher {
    padding-bottom: 50px;
}
.col-3 .search-author {
    padding-bottom: 50px;
}
.list_book h1 {
    color: white;
    font-weight: 700;
    padding-bottom: 20px;
}
/*dropdown notify*/
.dropdown-toggle-bell::after {
  display: none;
}

a.notification-desc {
  padding: 0px!important;
  color: #777777;
}

a.notification-desc span {
  font-weight: bold;
}

.notification-icon:after {
  display: none;
}

.dropdown-notifications
  > .dropdown-container,
  .dropdown-notifications
  > .dropdown-menu {
  width: 410px!important;
}

.header-bottom .header-right i.count-notify {
  border: none
}

